@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(Netflix/images/bg.jpg);
    background-position: center center;
    background-size: max(1300px, 120vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'martel sana', sans-serif;
    font-family: 'poppins', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 25px;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.separation {
    height: 5px;
    background-color: rgb(105, 104, 104);
    position: relative;
    z-index: 20;

}

.btn {
    font-family: 'poppins', sans-serif;
    padding: 6px 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.7);
    border-radius: 5px;
    cursor: pointer;

}

.btn-red {
    font-weight: 400;
    background-color: red;
    color: white;
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid red;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 2px solid red;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 10px 101px 11px 14px;
    color: white;
    /*font-weight: 900;*/
    font-size: 12px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.7);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}

@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
        position: relative;
        z-index: 10;
    }

    .hero> :first-child {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

}

.secImg {
    position: relative;
}

.secImg img {
    width: 305px;
    position: relative;
    z-index: 10;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px;
}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div:nth-child(2) {
    font-size: 24px;

}

.faq h2 {
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 75vw;
    margin: 20px auto;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    cursor: pointer;

}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
    }

}


.footer a {
    font-size: 16px;
    color: white;

}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}